/* game moves */
.gameMoves {
  width: 180px;
  height: 120px;
  margin: 10px auto;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  list-style-type: none;
}

/* game pagination wrapper */
.paginationWrapper {
  margin: 0 40px;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}

.active {
  color: 'green';
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.scoreWrapper {
  display: block;
  text-align: center;
  margin-top: 40px;
}

.scoreText {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 28px;
  margin-right: 10px;
  color: black;
}

.scoreNumber {
  width: 90px;
  font-weight: bold;
  color: darkgreen;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
